-f --extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
numpy
transformers
git+https://github.com/huggingface/diffusers
accelerate
sanic
requests
Pillow==9.4.0
python-math
traceback2